.feed {

  display: flex;
  flex: calc(2 / 3);
  flex-direction: column;
}

.postList {

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;


}

.feedWrapper {
  box-sizing: border-box;
  padding: 10px 40px;


}

.loading {
  text-align: center;
  margin-top: 30px;
}

@media (max-width: 1090px) {
  .feedWrapper {
    margin: 0px;
    padding: 0px 0px;
  }

}

@media (max-width: 800px) {

  .feed {
    flex: 1;
  }

  .postList {
    flex: 1;
  }


}