.register {
    width: 100vw;
    height: 100vh;
    background-color: #f3f1ee;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerWrapper {
    width: 70%;

    display: flex;
}

.registerLeft,
.registerRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.registerLogo {

    color: #075353;



}

.registerDesc {

    margin: 0px 0px 0.35em;

    font-size: 2rem;
    line-height: 1.167;
    color: #1e2022;
    font-weight: 700;

}

.registerBox {
    height: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    color: #1e2022;
    transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    box-shadow: rgb(140 152 164 / 25%) 0px 3px 6px 0px;
    overflow: hidden;
}

.registerInput {
    height: 50px;
    border-radius: 10px;

    font-size: 18px;
    padding-left: 20px;

}

.registerInput:focus {
    outline: none;
    border: 1px solid #1775ee;
}

.registerButton:disabled {
    cursor: not-allowed;
}


.removedecoration {
    box-shadow: none;
    background-color: transparent;
}

.postgramlogo {
    height: 45px !important;
}

.registerButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #2e51b5;
    color: white;
    font-size: 20px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

.registerButton:hover {
    color: #1775ee;
    border: 1px solid #1775ee;
    background-color: #1774ee23;
}

.registerForget {
    text-align: center;
    color: #1775ee;
    cursor: pointer;
}

.registerAccount {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.registerRegisterButton {
    margin-left: 12px;
}

@media (max-width: 780px) {
    .registerWrapper {
        flex-direction: column;
        width: 95%;
    }

    .registerDesc {
        font-size: 12px;
        margin-bottom: 20px;
    }
}

.register * {
    overflow-y: hidden;
}

.registerBox .MuiFilledInput-root.MuiFilledInput-underline {
    background-color: #fff;
}