.friendrequest {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin-bottom: 2px;
  padding-left: 4px;
  min-width: 150px;
}

.friendrequestuserInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 5px;
}

.friendrequestName {
  font-size: 20px;
  color: #233876;
  font-weight: 600;
}

.friendrequestImg {
  width: 22px;
  height: 22px;
  margin-right: 15px;
}
.friendRequestAccept {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: 600;
}

.friendRequestAccept button {
  font-weight: 700;
  font-style: 25px;
  text-transform: capitalize;
}

.friendRequestAccept button:nth-child(2) {
  color: #1a56db;
}
