/* width */
.chatMenuWrapper>.user::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.chatMenuWrapper>.user::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.chatMenuWrapper>.user::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.342);
}

/* Handle on hover */
.chatMenuWrapper>.user::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.801);
}

/* width */
.chatMenuWrapper>.user::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.chatMenuWrapper>.user::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.chatMenuWrapper>.user::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.342);
}

/* Handle on hover */
.chatMenuWrapper>.user::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.801);
}




.messenger {
  height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.navbar_css {
  box-shadow: none !important;
  border-bottom: 1px solid #efefef;
  background-color: #fff !important;

}




.logo {
  color: #20247b;
}

.chatMenuWrapper {
  margin-top: 0px;
  height: 98%;
  display: flex;
  flex-direction: column;
  color: #007fff;

}

.chatMenuInput {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid transparent;
  border-bottom: 1px solid lightgray;
  transition: all 0.2s ease-in;
  margin: 0 10px;
  padding: 4px;

  border-bottom: 1px solid #17a2b8;
}

.chatMenuInput .MuiSvgIcon-root {
  opacity: 0.7;
}

.chatMenuInput input {

  padding: 10px;
  border: none;
  color: rgba(0, 0, 0, 0.882);
  letter-spacing: 0.3px;
  outline: none;
}

.chatMenuInput input:focus {
  outline: none !important;
  border: none !important;
}

/* .chatMenuInput:focus-within {
  border: 2px solid rgba(60, 60, 224, 0.596);
 */
.user {
  flex: 1;
  padding: 10px 0;
  overflow-y: auto;
  border-right: 2px solid rgba(141, 140, 140, 0.24);
}

/* // middle of .messenger chat box  */

/* .chat {
  flex: 0.74;
} */

.chatBoxWrapper {

  height: 99%;
  display: flex;
  flex-direction: column;

  background-color: #ece5dd !important;
  background-image: linear-gradient(180deg, #eae6df, #d1d7db);
  background-image: url('./bg-chat.png');
  background-repeat: repeat;
  object-fit: cover;


}

.no_conversation {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: white;
}

.no_conversation img {
  width: 40%;
  height: 40%;
}

.no_conversation span {
  font-size: 55px;
  font-weight: 600;
  color: gray;
  opacity: 0.3;
}

.chat-room-name {
  margin: 0px;
}

.useronline {
  font-size: 11px;
  display: flex;

  margin: 0;
}

.chat-room-last-seen {
  margin: 0;
  font-size: x-small;
}

.chat_header {
  display: flex;
  justify-content: space-between;
  height: 60px;
  align-items: center;
  border-bottom: 1px solid lightgray;
  background-color: #008069;
  color: white;
  padding: 6px;
  z-index: 1000;
}

.chat_header a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.chat_headerInfo {
  flex: 1;
  padding-left: 20px;

}

.otherside_username {
  color: #fff !important;
  font-weight: 400;
  font-size: 20px;
  cursor: pointer;

}


.chat_body {
  flex: 1;
  padding: 10px 6%;

  overflow-y: auto;

  text-rendering: optimizeLegibility;



}

.messageSender {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  gap: 5px !important;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 0px 3px;
  border-radius: 8px;
}

.chat_footer {
  display: flex;
  align-items: center;
  flex: 1;
  margin: 0;
  width: 97%;
  background-color: white;
}

.chat_footer>.emojibtn {

  padding: 0 2px;
}



.chat_footer>form {
  flex: 1;
  display: flex;

  margin: 0;
}

.chat_footer>form>textarea {
  flex: 1;
  border-radius: 10px;

  border: none;
  margin: 10px 0px;
  outline: none;
  font-size: 22px !important;
  resize: none;
  padding-left: 5px;
  scrollbar-width: thin;

  padding: 5px 20px;

}

.chat_footer>form>button {
  display: none;
}


/* width */
.chat_footer>form>textarea::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.chat_footer>form>textarea::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.chat_footer>form>textarea::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.342);
}

/* Handle on hover */
.chat_footer>form>textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.801);
}

/* width */
.chat_footer>form>textarea::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.chat_footer>form>textarea::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
.chat_footer>form>textarea::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.342);
}

/* Handle on hover */
.chat_footer>form>textarea::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.801);
}

/*  online  */

.chatOnlineWrapper {
  padding: 10px;
  padding-bottom: 0px;
  height: 99%;
  display: flex;
  flex-direction: column;
}

.online_title {
  display: flex;
  padding: 10px;
  align-items: center;
  border-bottom: 1px solid lightgray;
  margin-bottom: 2px;
  background-color: #e9ecef;
}

.chat_icon {
  position: absolute;
  top: -0.5%;
  box-shadow: none !important;
  display: none;
  z-index: 100000;
  box-sizing: border-box;
  background-color: #008069;
  margin: 0;
  padding: 0;
  z-index: 0;

}

.chat_icon>button {
  padding-right: 0;
  padding-left: 1px;
}

.IconsShownOnSmallScreen {
  display: none;
}

@media (max-width: 800px) {

  .IconsShownOnSmallScreen {
    display: block;
  }

  .messageSender {
    padding: 0 1px;
    box-shadow: none;
    align-items: flex-end;
    background-color: transparent;
  }


  .chat_footer {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex: 1;
    margin: 0 !important;
    width: 100%;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    background-color: white;
    padding: 0px 6px;



  }

  .chat_footer>form>textarea {
    flex: 1;
    border-radius: 25px;
    margin: 0 !important;
    border: none;
    outline: none;
    font-size: 20px !important;
    resize: none;
    scrollbar-width: thin;
    padding: 10px 10px;
    /* background-color: #007fff; */
  }

  .messagerNav {
    display: none !important;
  }

  .chat {
    height: 99.78vh;
  }

  .chat_body .message {
    max-width: 70%;
  }

  .chat_body {
    padding: 20px 5px;
  }

  .message.own {
    align-items: flex-end;
    margin-left: 30% !important;
  }

  .chatBoxWrapper {
    padding: 0px;
    height: 100%;
  }

  .chat_footer {
    transition: all 0.3s ease-in-out;
    margin: 0px 4px !important;
    margin-bottom: 5px !important;
  }



  .chat_icon {
    display: flex;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    /* flex-direction: row-reverse; */
  }

  .user {
    margin-top: 4rem;
  }

  .messenger {
    height: 100vh;
  }

  /* .chatMenuWrapper{
    height: ;
  } */
}

.sidebar_flex {
  flex: 0.30;
}

.chatbox_flex {
  flex: 0.69;
}

/* .chatMenu {
  flex: 0.25 !important;
} */
/* .chat {
  flex: 0.74;
} */


div.MuiCard-root {
  position: absolute !important;
  top: 30% !important;
  left: 26% !important;
}

.emojipannelclose {
  width: 100%;
  border-radius: none;
  display: flex;
  justify-content: flex-end;
}



@media (max-width: 850px) {


  .sidebar_flex1 {
    flex: 1;
    display: block;
    background-color: #fff;
    color: #007fff;

  }

  /* /// */
  /* .sidebar_flex {
    flex: 0.30;
  }

  .chatbox_flex {
    flex: 0.69;
  } */



  .sidebar_flex {
    flex: 1;
    display: block;
  }

  .chatbox_flex {
    flex: 1;
    display: block;
  }


  /*  */


  .chatbox_flexsmall {
    flex: 0;
    display: none;
  }

  div.MuiCard-root {
    position: absolute !important;
    top: 28% !important;
    left: 5% !important;
  }
}


.Online {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: limegreen;
  margin-left: -8px;
  margin-top: -15px;
  border: 2px solid white;
  z-index: 100;
}

.SendMessagebtn {
  background-color: #128c7e !important;
  /* background-color: #007FFF !; */

}

.SendMessagebtn>span {
  color: white !important;
}


/* width */
.chat_body::-webkit-scrollbar {
  width: 7px;
}


/* width */
.chat_body::-webkit-scrollbar {
  width: 7px;
}

div.MuiCard-root {
  position: absolute !important;
  top: 38% !important;
  left: 31% !important;
}

aside.emoji-picker-react {

  width: 40vw !important;
}

@media (max-width: 850px) {


  div.MuiCard-root {
    position: absolute !important;
    top: 32% !important;
    left: 1% !important;
  }

  aside.emoji-picker-react {



    width: 97vw !important;
  }
}