.sidebarFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px 15px;
    border-bottom: 1px solid #edeff1;
}

.sidebarFriend:hover {
    background-color: #49506c18;
}

/* .sidebarFriendImg {
	width: 32px;
	height: 32px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 15px;
} */

.sidebarFriendName {
    color: #0c163b;
    font-weight: 700;
    font-style: normal;
    margin-top: 0;
    margin-left: 20px;
}