.communityFriend {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #edeff1;
    border-radius: 0.25em;

}

.SuggestionTopDimension {
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 20px;

}

.topSuggestionBoxWrapper {
    border: 1px solid red;
    box-sizing: border-box;
    border: 1px solid rgb(103, 97, 97);

    width: 100%;
    height: 60px;
}

@media (min-width: 800px) {
    .SuggestionTopDimension {
        display: none;
    }
}

.communityFriendName {
    color: #0095f6;
    font-size: 14px;
    line-height: 18px;
    margin: -3px 0 -4px;
    font-weight: 600;
}